[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
terminaltables = "*"
colorclass = "*"
six = "*"
arrow = "*"
py-moneyed = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
